body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--txt-color);
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

:root{
    --bg-color:#181824;
    --bg-color-contraste:#242333 ;
    --txt-color:#f8f9ff;
    --color-live: #fc0c0c;
    --color-decoration:#884dbf;
    --bg-color-grid:#1a192b;
}

html{
    scroll-behavior: smooth;
}

p{
    font-family: 'Lato', sans-serif;
    font-weight:500;
}

h1 {
    position: relative;
    font-size: clamp(1.5rem, 4vw + 1.5rem ,5rem);
    display: inline-block;
    margin: 50px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

h2{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

/* NAVEGADOR */

.navegador{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.navegador_contenedor{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.navegador_link{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: var(--txt-color);
    position: relative;
}

.navegador_link::after {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--txt-color);
    position: absolute;
    bottom: -4px;
    right: 50%;
    transition: all 0.5s;
    will-change: width;
    border-radius: 100vmax;
}

.navegador_link:hover::after {
    width: 100%;
    right: 0;
}

/* INICIO */

#inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5%;
    gap: 10%;
}

.inicio_contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#inicio h1{
    font-size: clamp(2rem, 4vw + 2rem, 12rem);
    background-clip: text;
    color: transparent;
    margin: 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 4px;
    position: relative;
    line-height: 1.2;
    user-select: none;
    color: var(--txt-color);

}

.inicio_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 20px;
    right: 5%;
}

.inicio_links::after{
    content: "";
    width: 2px;
    height: 100px;
    background-color: var(--txt-color);
}

.inicio_dager {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #1d1e1d;
    border-radius: 54% 46% 0% 100% / 45% 49% 51% 55% ;
    border: 20px solid var(--txt-color);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 10.5);
    background-image: url(./imagenes/111bf284-b096-40a5-a4e1-e854fc58afc9_1732155374660-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.inicio_dager::after {
    content: "";
    position: absolute;
    width: 460px;
    height: 460px;
    border: 2px solid var(--color-live);
    border-radius: 54% 46% 0% 100% / 45% 49% 51% 55% ;
    top: -30px; 
    left: -30px;
    z-index: 1;
}

.twitch_status{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    background-color: #0D0D0D;
    color: white;
    font-size: 2rem;
}

.escribiendo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--txt-color); 
    display: inline-block;
    position: relative;
    height: 30px;
}

.escribiendo::after {
    content: "|";
    font-weight: normal;
    position: absolute;
    right: -10px;
    animation: blink 0.7s infinite;
}


/* FUNCIONALIDADES */

.volver_arriba{
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.tooltip-container {
    background: linear-gradient(138deg, rgba(3, 169, 244, 1) 15%, rgba(63, 180, 233, 1) 65%);
    position: relative;
    cursor: pointer;
    font-size: 17px;
    padding: 0.7em 0.7em;
    border-radius: 100vmax;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: background 0.6s;
    width: 50px;
    height: 50px;
}

.tooltip-container:hover {
    background: #fff;
}

.tooltip-container .text {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    transition: fill 0.6s;
}

.tooltip-container:hover .text {
    fill: rgb(3, 169, 244);
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    background: #fff;
    fill: #03a9f4;
    padding: 8px; /* Reducido para que sea más compacto */
    border-radius: 100vmax;
    transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.3s ease, background 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip1 { transform: translate(-50%, 0%); }
.tooltip2 { transform: translate(-50%, 0); }
.tooltip3 { transform: translate(0, -50%); }
.tooltip4 { transform: translate(60%, -50%); }

.tooltip-container:hover .tooltip1 { transform: translate(-50%, -190%); }
.tooltip-container:hover .tooltip2 { transform: translate(-50%, 90%); }
.tooltip-container:hover .tooltip3 { transform: translate(-190%, -50%); }
.tooltip-container:hover .tooltip4 { transform: translate(90%, -50%); }

/* Hover Effect */
.tooltip:hover {
    background: #03a9f4;
    fill: #fff;
}


/* ANIMACIONES */

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
